<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC  "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kootour.mapper.CourseScheduleMapper">
<select id="selectAll" 
 resultType="com.kootour.mapper.entity.CourseScheduleEntity">
    select
       LANG_ID as  langId,
       COURSE_SCHEDULE_IDENTI_NO as  courseScheduleIdentiNo,
       COURSE_IDENTI_NO as  courseIdentiNo,
       LOCALHOST_IDENTI_NO as  localhostIdentiNo,
       WORK_DATE as  workDate,
       SCHEDULE_OPTION_IDENTI_NO as  scheduleOptionIdentiNo,
       STATUS as  status,
       MEMO as  memo,
       DEL_FLG as  delFlg,
       DATE_FORMAT(CREATE_TIME,'%Y%m%d%H%i%S') as  createTime,
       DATE_FORMAT(MODIFY_TIME,'%Y%m%d%H%i%S') as  modifyTime
    from COURSE_SCHEDULE
   </select>
<select id="selectByPK" parameterType="com.kootour.mapper.paramentity.CourseScheduleParamEntity"
 resultType="com.kootour.mapper.entity.CourseScheduleEntity">
    select
       LANG_ID as  langId,
       COURSE_SCHEDULE_IDENTI_NO as  courseScheduleIdentiNo,
       COURSE_IDENTI_NO as  courseIdentiNo,
       LOCALHOST_IDENTI_NO as  localhostIdentiNo,
       WORK_DATE as  workDate,
       SCHEDULE_OPTION_IDENTI_NO as  scheduleOptionIdentiNo,
       STATUS as  status,
       MEMO as  memo,
       DEL_FLG as  delFlg,
       DATE_FORMAT(CREATE_TIME,'%Y%m%d%H%i%S') as  createTime,
       DATE_FORMAT(MODIFY_TIME,'%Y%m%d%H%i%S') as  modifyTime
    from COURSE_SCHEDULE
    where 
    LANG_ID =#{langId}
   and     COURSE_SCHEDULE_IDENTI_NO =#{courseScheduleIdentiNo}
   </select>
<select id="selectByCondition" parameterType="com.kootour.mapper.paramentity.CourseScheduleParamEntity"
 resultType="com.kootour.mapper.entity.CourseScheduleEntity">
    select
       LANG_ID as  langId,
       COURSE_SCHEDULE_IDENTI_NO as  courseScheduleIdentiNo,
       COURSE_IDENTI_NO as  courseIdentiNo,
       LOCALHOST_IDENTI_NO as  localhostIdentiNo,
       WORK_DATE as  workDate,
       SCHEDULE_OPTION_IDENTI_NO as  scheduleOptionIdentiNo,
       STATUS as  status,
       MEMO as  memo,
       DEL_FLG as  delFlg,
       DATE_FORMAT(CREATE_TIME,'%Y%m%d%H%i%S') as  createTime,
       DATE_FORMAT(MODIFY_TIME,'%Y%m%d%H%i%S') as  modifyTime
    from COURSE_SCHEDULE
    where 
LANG_ID is not null
<if test="langId != null and langId != '' ">
   and     LANG_ID =#{langId}
</if>
<if test="courseScheduleIdentiNo != null and courseScheduleIdentiNo != '' ">
   and     COURSE_SCHEDULE_IDENTI_NO =#{courseScheduleIdentiNo}
</if>
<if test="courseIdentiNo != null and courseIdentiNo != '' ">
   and     COURSE_IDENTI_NO =#{courseIdentiNo}
</if>
<if test="localhostIdentiNo != null and localhostIdentiNo != '' ">
   and     LOCALHOST_IDENTI_NO =#{localhostIdentiNo}
</if>
<if test="workDate != null and workDate != '' ">
   and     WORK_DATE = #{workDate}
</if>
<if test="bgnWorkDate != null and bgnWorkDate != '' and endWorkDate != null and endWorkDate != '' ">
   and     WORK_DATE between #{bgnWorkDate} and #{endWorkDate}
</if>
<if test="scheduleOptionIdentiNo != null and scheduleOptionIdentiNo != '' ">
   and     SCHEDULE_OPTION_IDENTI_NO =#{scheduleOptionIdentiNo}
</if>
<if test="status != null and status != '' ">
   and     STATUS =#{status}
</if>
<if test="delFlg != null and delFlg != '' ">
   and     DEL_FLG =#{delFlg}
</if>
   </select>
<update id="updateByPK" 
 parameterType="com.kootour.mapper.entity.CourseScheduleEntity">
    update COURSE_SCHEDULE set
       LANG_ID=       #{langId},
       COURSE_SCHEDULE_IDENTI_NO=       #{courseScheduleIdentiNo},
       COURSE_IDENTI_NO=       #{courseIdentiNo},
       LOCALHOST_IDENTI_NO=       #{localhostIdentiNo},
       WORK_DATE=       #{workDate},
       SCHEDULE_OPTION_IDENTI_NO=       #{scheduleOptionIdentiNo},
       STATUS=       #{status},
       MEMO=       #{memo},
       DEL_FLG=       #{delFlg},
       CREATE_TIME=       #{createTime},
       MODIFY_TIME=   now() 
    where 
    LANG_ID =#{langId}
   and     COURSE_SCHEDULE_IDENTI_NO =#{courseScheduleIdentiNo}
   </update>
<insert id="insertOne" 
 parameterType="com.kootour.mapper.entity.CourseScheduleEntity">
    insert into COURSE_SCHEDULE(
       LANG_ID,
       COURSE_SCHEDULE_IDENTI_NO,
       COURSE_IDENTI_NO,
       LOCALHOST_IDENTI_NO,
       WORK_DATE,
       SCHEDULE_OPTION_IDENTI_NO,
       STATUS,
       MEMO,
       DEL_FLG,
       CREATE_TIME,
       MODIFY_TIME
)values(
       #{langId},
       #{courseScheduleIdentiNo},
       #{courseIdentiNo},
       #{localhostIdentiNo},
       #{workDate},
       #{scheduleOptionIdentiNo},
       #{status},
       #{memo},
       #{delFlg},
   now() ,
   now() 
   )
   </insert>
</mapper>


