<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC  "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kootour.mapper.CoursePictureMapper">
<select id="selectAll" 
 resultType="com.kootour.mapper.entity.CoursePictureEntity">
    select
       LANG_ID as  langId,
       COURSE_PICTURE_IDENTI_NO as  coursePictureIdentiNo,
       COURSE_IDENTI_NO as  courseIdentiNo,
       LOCALHOST_IDENTI_NO as  localhostIdentiNo,
       FULL_NAME as  fullName,
       TYPE as  type,
       FULL_PATH as  fullPath,
       MEMO as  memo,
       DEL_FLG as  delFlg,
       DATE_FORMAT(CREATE_TIME,'%Y%m%d%H%i%S') as  createTime,
       DATE_FORMAT(MODIFY_TIME,'%Y%m%d%H%i%S') as  modifyTime
    from COURSE_PICTURE
   </select>
<select id="selectByPK" parameterType="com.kootour.mapper.paramentity.CoursePictureParamEntity"
 resultType="com.kootour.mapper.entity.CoursePictureEntity">
    select
       LANG_ID as  langId,
       COURSE_PICTURE_IDENTI_NO as  coursePictureIdentiNo,
       COURSE_IDENTI_NO as  courseIdentiNo,
       LOCALHOST_IDENTI_NO as  localhostIdentiNo,
       FULL_NAME as  fullName,
       TYPE as  type,
       FULL_PATH as  fullPath,
       MEMO as  memo,
       DEL_FLG as  delFlg,
       DATE_FORMAT(CREATE_TIME,'%Y%m%d%H%i%S') as  createTime,
       DATE_FORMAT(MODIFY_TIME,'%Y%m%d%H%i%S') as  modifyTime
    from COURSE_PICTURE
    where 
    LANG_ID =#{langId}
   and     COURSE_PICTURE_IDENTI_NO =#{coursePictureIdentiNo}
   </select>
<select id="selectByCondition" parameterType="com.kootour.mapper.paramentity.CoursePictureParamEntity"
 resultType="com.kootour.mapper.entity.CoursePictureEntity">
    select
       LANG_ID as  langId,
       COURSE_PICTURE_IDENTI_NO as  coursePictureIdentiNo,
       COURSE_IDENTI_NO as  courseIdentiNo,
       LOCALHOST_IDENTI_NO as  localhostIdentiNo,
       FULL_NAME as  fullName,
       TYPE as  type,
       FULL_PATH as  fullPath,
       MEMO as  memo,
       DEL_FLG as  delFlg,
       DATE_FORMAT(CREATE_TIME,'%Y%m%d%H%i%S') as  createTime,
       DATE_FORMAT(MODIFY_TIME,'%Y%m%d%H%i%S') as  modifyTime
    from COURSE_PICTURE
    where 
LANG_ID is not null
<if test="langId != null and langId != '' ">
   and     LANG_ID =#{langId}
</if>
<if test="coursePictureIdentiNo != null and coursePictureIdentiNo != '' ">
   and     COURSE_PICTURE_IDENTI_NO =#{coursePictureIdentiNo}
</if>
<if test="courseIdentiNo != null and courseIdentiNo != '' ">
   and     COURSE_IDENTI_NO =#{courseIdentiNo}
</if>
<if test="localhostIdentiNo != null and localhostIdentiNo != '' ">
   and     LOCALHOST_IDENTI_NO =#{localhostIdentiNo}
</if>
<if test="type != null and type != '' ">
   and     TYPE =#{type}
</if>
<if test="delFlg != null and delFlg != '' ">
   and     DEL_FLG =#{delFlg}
</if>
   </select>
<update id="updateByPK" 
 parameterType="com.kootour.mapper.entity.CoursePictureEntity">
    update COURSE_PICTURE set
       LANG_ID=       #{langId},
       COURSE_PICTURE_IDENTI_NO=       #{coursePictureIdentiNo},
       COURSE_IDENTI_NO=       #{courseIdentiNo},
       LOCALHOST_IDENTI_NO=       #{localhostIdentiNo},
       FULL_NAME=       #{fullName},
       TYPE=       #{type},
       FULL_PATH=       #{fullPath},
       MEMO=       #{memo},
       DEL_FLG=       #{delFlg},
       CREATE_TIME=       #{createTime},
       MODIFY_TIME=   now() 
    where 
    LANG_ID =#{langId}
   and     COURSE_PICTURE_IDENTI_NO =#{coursePictureIdentiNo}
   </update>
<insert id="insertOne" 
 parameterType="com.kootour.mapper.entity.CoursePictureEntity">
    insert into COURSE_PICTURE(
       LANG_ID,
       COURSE_PICTURE_IDENTI_NO,
       COURSE_IDENTI_NO,
       LOCALHOST_IDENTI_NO,
       FULL_NAME,
       TYPE,
       FULL_PATH,
       MEMO,
       DEL_FLG,
       CREATE_TIME,
       MODIFY_TIME
)values(
       #{langId},
       #{coursePictureIdentiNo},
       #{courseIdentiNo},
       #{localhostIdentiNo},
       #{fullName},
       #{type},
       #{fullPath},
       #{memo},
       #{delFlg},
   now() ,
   now() 
   )
   </insert>
</mapper>


